<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>About</title>
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
</head>
<body>
  <h1><center>About</center></h1>
  <div class="navbar">
  <ul>
  <li><a href="{{ url_for('home') }}">Home</a></li>
  <li><a class="active" href="{{ url_for('about') }}">About</a></li>
</ul>
</div>
<h2> During the pandemic, it has been harder for some students to get the attention they need to excel in their classes. Assist is designed to help students reach their full potential in school at a time when this feels so much harder than usual.</h2>
</body>
</html>
