<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Guide for Auditory Learners</title>
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
</head>
<body>
  <h1><center>Guide for Auditory Learners</center></h1>
  <div class="navbar">
  <ul>
  <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
  <li><a href="{{ url_for('about') }}">About</a></li>

</ul>
</div>
<h2>Characteristics</h2>
<ul>
  <h3><li>Learn by doing and solving real life problems</li></h3>
  <h3><li>Can't sit still for long periods of time</li></h3>
  <h3><li>Tend to get bored easily in traditional clasroom setting</li></h3>
</ul>
<h2>Tips</h2>
<ul>
  <h3><li>Try walking around while studying</li></h3>
  <h3><li>Use flashcards</li></h3>
  <h3><li>Study in groups</li></h3>
</ul>
<h2>Resources</h2>
<ul>
  <h3><li>Try walking around while studying</li></h3>
  <h3><li>Use flashcards</li></h3>
  <h3><li>Study in groups</li></h3>
</ul>
</body>
</html>
