<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Guide for Visual Learners</title>
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
</head>
<body>
  <h1><center>Guide for Visual Learners</center></h1>
  <div class="navbar">
  <ul>
  <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
  <li><a href="{{ url_for('about') }}">About</a></li>

</ul>
</div>
<h2>Characteristics</h2>
<ul>
  <h3><li>Responds well to pictures and vidoes</li></h3>
  <h3><li>Enjoys activities like drawing or painting</li></h3>
  <h3><li>Tend to be good at spelling</li></h3>
</ul>
<h2>Tips</h2>
<ul>
  <h3><li>Responds well to pictures and vidoes</li></h3>
  <h3><li>Enjoys activities like drawing or painting</li></h3>
  <h3><li>Tend to be good at spelling</li></h3>
</ul>
<h2>Resources</h2>
<ul>
  <h3><li>Quizlet</li></h3>
  <h3><li>Khan Academy</li></h3>
</ul>
</div>
</body>
</html>
